{% extends "base.html" %}
{% block content %}

<h2>Doctor Dashboard</h2>

<div class="card p-4 mb-4">
    <h5>Total Appointments: {{ total }}</h5>
</div>

<div class="card p-4">
    <h5>Appointment List</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for a in appointments %}
            <tr>
                <td>{{ a.patient }}</td>
                <td>{{ a.appointment_date }}</td>
                <td>
                    <span class="badge bg-success">{{ a.status }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}